@import url('./styles/App.css');
@import url('./styles/WelcomePage.css');
@import url('./styles/AboutPage.css');
@import url('./styles/ProjectPage.css');
@import url('./styles/ContactPage.css');

body {
  margin: 0;
}

html,
body,
#root,
#app-container {
  height: 100%;
}

#root {
  overflow-y: hidden;
}
