#about-page-container {
  background-color: #293241;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

#about-page-text {
  margin-left: 30%;
  margin-right: 5%;
  color: #ee6c4d;
  display: flex;
  flex-direction: column;
}

#about-page-container img {
  align-self: center;
  margin-left: 25%;
  max-height: 30%;
  box-shadow: black 5px 5px;
  border-radius: 10px;
}

#about-page-text span {
  margin-bottom: 20px;
}

#about-page-text span:nth-child(1) {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 5px 5px black;
  align-self: center;
}

#about-page-text span:nth-child(2),
#about-page-text span:nth-child(3),
#about-page-text span:nth-child(4) {
  font-size: 20px;
  text-shadow: 2px 2px black;
}

@media (max-width: 1000px) {
  #about-page-text {
    margin-left: 5%;
    margin-top: 10%;
  }
  #about-page-container img {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  #about-page-container img {
    display: none;
  }
}

@media (max-width: 400px) {
  #about-page-text span:nth-child(1) {
    font-size: 30px;
  }

  #about-page-text span:nth-child(2),
  #about-page-text span:nth-child(3),
  #about-page-text span:nth-child(4) {
    font-size: 15px;
  }
}
