nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  align-self: center;
  width: 25%;
  background-color: #ee6c4d;
}

nav button {
  justify-content: stretch;
  align-self: center;
  width: 75%;
  height: 18%;
  border-radius: 20px;
  background-color: #3d5a80;
  font-weight: 700;
  font-size: 3vw;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

nav button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

nav div img {
  width: 100%;
  height: 100%;
}

#nav-buttons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#hamburger-navbar {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    flex-direction: row;
    height: 13%;
    align-self: flex-start;
    width: 100%;
  }

  nav button {
    width: 25%;
    height: 60%;
    font-size: 2.5vw;
  }

  #nav-buttons {
    width: 100%;
    flex-direction: row;
  }

  .logo {
    width: auto;
  }
}

@media (max-width: 850px) {
  .logo {
    display: none;
  }
  #nav-buttons button {
    font-size: 3.5vw;
  }
}
