#project-page-container {
  background-color: #293241;
}

.project-container {
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  /* color: #ee6c4d; */
}

.project-box {
  background-color: #3d5a80;
}

.project-box img {
  width: 50%;
}
